/* --------------------------
AUTHOR : STYLED MENUS
URL : http://www.styledmenus.com
Copyrights by STYLED MENUS
----------------------------*/

	#menu{
		margin:0 auto;
		width:90%;
		text-align:center;
		padding-bottom:104px;
		position:relative;
		background:#99C;
		
	}
		#menu ul{
			list-style:none;
			display: block;
			width:750px;
			margin:0 auto;
			position: relative;
		}
			#menu li{
				list-style:none;
				display:block;
				float:left;
				background:#f4f4ec;		
				border-bottom:4px solid #8686C6;						
			}
				#menu li a{
					display:block;
					float:left;
					color:#44494f;
					text-transform:uppercase;
					font-size:26px;
					font-weight:bold;
					line-height:100px;
					border:solid #8686C6;
					border-width:0px 0px 0 1px;
					text-decoration:none;
					padding:0 25px;				
				}
					#menu li a:hover{
						color:#75902d;
					}
				#menu li a.current{
					display:block;
					float:left;
					background:#8686C6;					
					color:#fff;
					text-transform:uppercase;
					font-size:26px;
					font-weight:bold;
					line-height:100px;
					border:solid #e1e1d3;
					border-width:0px 0px 0 0px;
					text-decoration:none;
					padding:0 25px;	
				}
					#menu li a:hover.current{
						color:#fff;
					}


